@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*text*/
html { 
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 1.1rem;
    line-height: 1.6;
    }
    
/*body*/
body {
  max-width: 38em;
  margin: auto;
  padding: 13px;
  }

footer {
  color: gb(87, 59, 2);
}
/*heading*/
#contact {
    position: relative;
    top: 10px;
}

#main_title {
    position: relative;
    top: 10px;
}

h1, h2, h3 {
  color: rgb(87, 59, 2);

}
/*links*/
a:link {
  color: rgb(87, 59, 2);
}
a:visited {
  color: rgb(73, 66, 52);
}
a:hover {
    text-decoration-style: dotted;
    }


.toggle {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}
.toggle__input {
  display: none;
}
.toggle__button {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgb(201, 131, 1);
  border:1px solid rgb(201, 131, 1);
  color: #ffffff;
  width: 100px;
  height: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.toggle__button:before {
  position: absolute;
  top: 6px;
  left: 40px;
  right: auto;
  display: inline-block;
  height: 20px;
  width: 52px;
  padding: 0 3px;
  background-color: #ffffff;
  color: rgb(201, 131, 1);
  content: "dev";
  transition: all 0.3s ease;
}
.toggle__input:checked + .toggle__button {
  background-color: rgb(1, 95, 79);
  border:1px solid rgb(1, 95, 79);
}
.toggle__input:checked + .toggle__button:before {
  left: 5px;
  content: "about";
  color: rgb(1, 95, 79);
}

.image-wrapper {
    max-width: 400px;
}
.image-wrapper img {
    width: 100%;
 }

.image-description {
    letter-spacing: 0.8px;
    font-size: 0.9rem;
    line-height: 1.2;
}

img {
  max-width: 100%;
  height auto; /* default */
}
