html {
    background: black;
  }

  /* countdown fonts formatting  */
  .display__time-left {
    font-family: monospace;
    font-weight: 100;
    color: white;
  }
  
@media screen and (min-width: 741px) {
    .display__time-left {
      font-size: 24rem;
    }
  }
@media screen and (max-width: 740px) {
    .display__time-left {
    font-size: 16rem;
  }
}
  
/* center items*/
  .timer {
    display: grid;
    place-items: center;
  }

/* .timer__controls below .display*/



#timer:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }

